/************************************ 
* Testing (temp)
*************************************/
/* .col {
    background-color: yellow;
}
.row {
    background-color: pink;
} */

/************************************ 
* globals
*************************************/
.row {
    margin: 3px;
}
.col {
    margin: 3px;
}
.black-border {
    border: 3px solid black;
}
right-border {
    border-right: 3px solid black;
}


/************************************ 
* Dice
*************************************/
.dice {
    border: 3px solid #000000;
    max-height: 100px;
    align-items: center;
    margin: 2px;
}
.die-select {
    border: 3px dashed dodgerblue;
}
@-webkit-keyframes die-invalid {    
    from, to {    
        border: 3px dashed dodgerblue;    
    }    
    50% {    
        border: 3px dashed red;  
    }    
}    
@keyframes die-invalid {    
    from, to {
        border: 3px dashed dodgerblue;    
    }    
    50% {    
        border: 3px dashed red;
    }    
}
.die-invalid {    
    -webkit-animation: die-invalid 1s step-end infinite;    
    animation: die-invalid 1s step-end infinite;    
}
@-webkit-keyframes die-pair {    
    from, to {    
        border: 3px solid black;    
    }    
    50% {    
        border: 3px solid green;  
    }    
}    
@keyframes die-pair {    
    from, to {
        border: 3px solid black;    
    }    
    50% {    
        border: 3px solid green;
    }    
}
.die-pair {    
    -webkit-animation: die-pair 1s step-end infinite;    
    animation: die-pair 1s step-end infinite;    
}
.die-zilch {
    border: 3px solid red;
}

/************************************ 
* Buttons
*************************************/
button {
    color: #555;
    text-transform: uppercase;
    margin: 5px;
}
button i {
    margin-right: 8px;
}
button:hover { font-weight: 600; }

/************************************ 
* Tables
*************************************/

.table-borderless td,
.table-borderless th {
    border: 0;
}

/************************************ 
* Players
*************************************/
.my-turn {
    background-color: lightgreen;
    border: 3px solid green;
}


